@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #001840; /* brand-navy */
  --foreground: #ffffff; /* white */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
